[Desktop Entry]
Encoding=UTF-8
Name=Lightroom CC
Exec=bash pspath/launcher/launcher.sh
Type=Application
StartupNotify=true
Comment=Lightroom CC for Linux
Icon=lightroom
StartupWMClass=Lightroom.exe
Name[fr_FR]=Lightroom CC


